* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: goldenrod;
    color: #fff;
  }
  
  p {
    font-size: 3rem;
  }
  
  .js {
    color: black;
  }
  
  .typed-text {
    color: green;
  }
  
  .cursor {
    background: yellow;
  }
  